<a href="https://colab.research.google.com/github/BelandyG/Project-2-Options/blob/main/Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 (Top 2 Data sets)

Name: Belandy Gard

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **First choice: Fastfood Nutrition**
1. Source of data

  - https://www.kaggle.com/datasets/ulrikthygepedersen/fastfood-nutrition

2. Brief description of data


  - This Fast Food Nutrition Dataset, which provides a comprehensive breakdown of the nutritional content of various fast food products from popular fast food chains
  Fast food is known for its convenience and affordability, but it is also infamous for its high-calorie, high-fat, and high-sugar content. This dataset aims to shed light on the nutritional value of these fast food products, helping consumers make more informed decisions about their food choices.

3. What is the target?

  - Calories so we can make a better annalysis of nutritional and non-nuritional fast food options

4. What does one row represent? (A person?  A business?  An event? A product?)

  - The restraunt row represents the 8 number of restraunt used to analyze this dataset 
  - 'Mcdonalds', 'Chick Fil-A', 'Sonic', 'Arbys', 'Burger King',
       'Dairy Queen', 'Subway', 'Taco Bell'
       
5. Is this a classification or regression problem?

  - regression

6. How many features does the data have?

  - 16 feature columns (X) and 1 target column (y)


7. How many rows are in the dataset?

  - This dataset has 515 rows, each representing a reading of a Food Type. It has 17 columns.


8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

  - I think there will be some complication in analysing this data as far as the preprocessing steps as well as tuning the model I choose. 
  - Since this is a new data set outside of learning platform, I think it will be also difficult determining what things I won't need to add so I am not over complicating my analysis.

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
          
filename = ('/content/fastfood.csv')
df = pd.read_csv(filename)
df.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2.0,0.0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17.0,1.5,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27.0,3.0,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10.0,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12.0,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other

In [ ]:
# shape
print(f"This dataset has {df.shape[0]} rows, each representing a reading of a \
Food Type. It has {df.shape[1]} columns, {df.shape[1]-1} feature columns \
(X) and 1 target column (y).")

This dataset has 515 rows, each representing a reading of a Food Type. It has 17 columns, 16 feature columns (X) and 1 target column (y).

# Second choice: Adult income dataset
1. Source of data

https://www.kaggle.com/datasets/wenruliu/adult-income-dataset?resource=download
2. Brief description of data

  - The task is to predict if an individual's annual income excceds $50,000 based on census data
3. What is the target?

  - Target = Income 
4. What does one row represent? (A person?  A business?  An event? A product?)

  - education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.

5. Is this a classification or regression problem?

  - Classification (The income is divide into two classes: <=50K and >50K)

6. How many features does the data have?

  - 14 feature columns (X) and 1 target column (y)

7. How many rows are in the dataset?

  - This dataset has 48842 rows, It has 15 columns.

8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

  - I expect there to be alot of missing values that will probably be imputed
  -

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
          
filename2 = ('/content/adult.csv')
df2 = pd.read_csv(filename2)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
# shape
print(f"This dataset has {df.shape[0]} rows, each representing a reading of a \
Income Type. It has {df.shape[1]} columns, {df.shape[1]-1} feature columns \
(X) and 1 target column (y).")

This dataset has 48842 rows, each representing a reading of a Income Type. It has 15 columns, 14 feature columns (X) and 1 target column (y).